* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    align-items: center; 
}

main {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;         
}

label {
    font-size: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.input-group input {
    width: 100%;
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0 10px;
}

.input-group input:focus {
    outline: none;
}

.icon {
    font-size: 1.2rem;
}

.toggle-visibility {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.submit-btn {
    background-color: #5a50f0;
    color: white;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #473dc1;
}

p {
    text-align: center;
}

a {
    color: #5a50f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
